html, body {
  width: 100%;
  height: 100%;
  font-size:1em;
  font-family:Arial;
  color:#333;
}

body{ position:relative;}


h1{ color:#333; font-weight:bold;font-size: 2.5em;}
h2{ color:#666;font-size: 2.5em;font-weight:normal;}

#weather_info { 
  margin: 30px auto;
  width: 60%;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 2px #ccc;
  padding: 20px; 
  display:block;
  text-align:center;
}

	.weather {
	  position: relative;
	  border-top: 1px solid #ddd;
	  padding-top: 20px;
	  padding-bottom: 20px; 
	  display:inline-block;
	  width:100%;
	}

.button_container {     
  height: auto;  
  text-align: -webkit-right;
  margin-bottom:1em;
  display:block;
}

	button { 
	  background: #e60505; 
	  padding:10px; 
	  color:#fff; 
	  width:30%; 
	  border:none; 
	  display:block;
	}


